/* src/components/Gallery.css */

.gallery-section {
    padding: 3rem 0;
  }
  
  .gallery-image {
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
    height: 200px; /* Fija una altura uniforme para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen se recorte de manera adecuada sin distorsionarse */
    border-radius: 0.5rem; /* Bordes redondeados para la imagen */
    transition: transform 0.3s ease; /* Transición suave para el efecto de agrandamiento */
  }
  
  .img-container {
    overflow: hidden; /* Asegura que el agrandamiento no se salga del contenedor */
  }
  
  .img-container:hover .gallery-image {
    transform: scale(1.1); /* Agranda la imagen en un 10% */
  }
  
  @media (min-width: 768px) {
    .row {
      display: flex; /* Asegura que las columnas se alineen correctamente */
      flex-wrap: wrap; /* Permite que las columnas se envuelvan en la fila siguiente si es necesario */
    }
    
    .col-md-4 {
      flex: 0 0 33.333%; /* Asegura que cada columna ocupe un tercio del ancho del contenedor en pantallas medianas y grandes */
      max-width: 33.333%; /* Establece el ancho máximo de las columnas */
    }
  }
  
  @media (max-width: 767.98px) {
    .gallery-image {
      height: auto; /* Ajusta la altura para pantallas pequeñas */
    }
  }
  