.services-section {
  background-color: #f0f8ff; /* Light blue background to reflect the pool theme */
}

.service-card {
  background-color: #fff;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  height: 360px;
}

.service-description {
  margin-top: auto; /* Pushes the description to the bottom if needed */
}

.service-card::before {
  content: "";
  position: absolute;
  top: -75%;
  left: -75%;
  width: 200%;
  height: 200%;
  background-color: rgba(0, 123, 255, 0.1);
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.service-card:hover::before {
  top: -50%;
  left: -50%;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.service-icon {
  color: #007bff;
  font-size: 4rem;
  transition: color 0.3s ease;
}

.service-card:hover .service-icon {
  color: #0056b3;
}

.service-title {
  font-weight: bold;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .service-card {
    margin-bottom: 20px;
  }
}
