header {
  background-color:#3282B8;
  color: white;
  padding: 2rem;
}

section {
  padding: 2rem;
}

h1, h2 {
  margin-bottom: 1rem;
}

form input, form textarea {
  margin-bottom: 1rem;
  width: 100%;
}

